body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  text-align: center;
  font-size: 2em;
}

.top {
  font-size: 1.5em;
}

.card {
  position: absolute;
  left: 50%;
  text-align: left;
}

.card .inner {
  position: relative;
  left: -50%;
  background-color: #E8E8EE;
  padding: 2%;
  padding-right: 7%;
}

a:hover {
  background-color: #E0E0E0;
}

a {
  color: black;
  text-decoration: none;
  border-radius: 2px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 30px;
}

#content {
  display: block;
  min-height: 100%;
}

#paintMe {
  min-height: 100%;
}
