#app {
  text-align: center;
  margin-top: 100px;
  font-size: 36px;
  font-family: "Lucida Grande";
}

#app button {
  margin-top: 40px;
  background-color: #85144b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 36px;
  cursor: pointer;
  border-radius: 3px;
  animation-name: animate;
  animation-duration: 1.5s;
}

@keyframes animate {
  0%   {background-color: #85144b; margin-left:0px}
  25%  {background-color: #FF851B; margin-left:400px; transform: rotate(7deg)}
  50%  {background-color: #001f3f; margin-left:0px}
  75%  {background-color: #3D9970; margin-right:400px; transform:rotate(353deg)}
  100% {background-color: #85144b; margin-right:0px}
}
