#projects {
  text-align: center;
  font-size: 24px;
}

#projects ul {
  list-style-type: none;
}

#projects li {
  margin-bottom: 30px;
}

.project {
  display: inline-block;
}

.project:hover {
  background-color: #E0E0E0;
  border-radius: 2px;
}
